/* Estilo para la clase parallax */
.parallax {
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-size: cover; /* Cubre todo el contenedor con la imagen de fondo */
    height: 100vh; /* Altura del contenedor igual a la altura de la ventana del navegador */
}