/* Estilos Generales */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 20;
    padding-top: 50px;
}

/* Encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.logo img {
    max-width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: rgb(247, 5, 154);
}

/* Secciones */
section {
    padding: 15px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.text {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.text h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.image {
    flex: 1;
    margin: 0 20px;
}

.image img {
    max-width: 50%;
    height: auto;
    display: block;
}

/* Botones de acción */
.btn-action {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.btn-action:hover {
    background-color: #333;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    margin-bottom: 10px;
}

.footer-contact {
    margin-bottom: 10px;
}

.footer-copyright {
    margin-top: 10px;
}
.footer-social {
    margin-top: 10px;
}

.footer-social a {
    margin-right: 10px;
    color: #fff; /* Color de los iconos */
    font-size: 24px; /* Tamaño de los iconos */
}


/* Testimonios */
#testimonios {
    text-align: center;
}

.testimonial {
    margin: 20px;
    flex: 0 0 calc(33.33% - 40px);
}

.testimonial img {
    max-width: 100%;
    border-radius: 50%;
}

.testimonial-content {
    margin-top: 10px;
}

.testimonios-info {
    margin-top: 50px;
}

.testimonios-info h2,
.testimonios-info p,
.testimonios-info button {
    margin-bottom: 10px;
}

#contacto {
    padding: 50px 0; /* Ajusta el padding según sea necesario */
    background-color: #f9f9f9; /* Cambia el color de fondo según tus preferencias */
    text-align: center; /* Centra el contenido */
    position: relative; /* Establece la posición relativa para los elementos hijos */
}

#contacto .section-content {
    position: relative; /* Establece la posición relativa para los elementos hijos */
}

#contacto .text {
    position: relative; /* Establece la posición relativa para los elementos hijos */
    z-index: 1; /* Asegura que el texto esté por encima de la capa transparente */
    color: #fff; /* Color de texto blanco para mayor contraste */
    padding: 0 20px; /* Añade un pequeño padding horizontal para separar el texto del borde */
}

#contacto form {
    max-width: 400px; /* Ajusta el ancho máximo del formulario según sea necesario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

#contacto form label {
    display: block; /* Muestra las etiquetas en bloques para que estén en una línea */
    margin-bottom: 10px; /* Ajusta el margen inferior entre etiquetas */
}

#contacto form input[type="text"],
#contacto form input[type="email"],
#contacto form textarea {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 15px; /* Ajusta el padding interno */
    margin-bottom: 20px; /* Ajusta el margen inferior entre campos */
    border: 1px solid #ccc; /* Añade un borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    font-family: 'Montserrat', sans-serif; /* Utiliza una fuente específica */
}

#contacto form textarea {
    height: 150px; /* Establece una altura fija para el área de texto */
}

#contacto form button[type="submit"] {
    background-color: #000; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 15px 30px; /* Ajusta el padding del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Añade esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
    text-transform: uppercase; /* Transforma el texto del botón a mayúsculas */
    font-weight: bold; /* Establece el peso de la fuente del botón */
    font-family: 'Montserrat', sans-serif; /* Utiliza una fuente específica */
}

#contacto form button[type="submit"]:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

/* Parallax */
.parallax {
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.parallax-content {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

/* Estilos para la sección "Por qué Nosotros" */
#porque {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

#porque h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#porque p {
    font-size: 18px;
}

/* Estilos para la sección de Clientes (logos de clientes) */
#clientes {
    padding: 50px 0;
    text-align: center;
}

#clientes h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.client-logos-container {
    margin-bottom: 20px; /* Añadir margen inferior para separar el título de los logos */
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.client-logos img {
    max-width: 80%; /* Reducir el tamaño máximo de los logos */
    height: auto;
    margin: 20px; /* Añade margen entre las imágenes */
}

/* Estilos para el título */
.client-logos-title {
    margin-bottom: 20px; /* Espacio entre el título y los logos */
}

/* Estilos para la sección de Creatividad */
#creatividad {
    position: relative;
    padding: 100px 0;
    text-align: center;
    overflow: hidden;
}

#creatividad .section-content {
    position: relative;
    z-index: 1;
}

#creatividad .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#creatividad .text {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 0 20px;
    transform: translateY(50%);
    transition: transform 0.5s ease;
}



/* Efecto de parallax */
#creatividad.parallax {
    background-attachment: fixed;
}

/* Efecto de parallax al hacer scroll */
@media (min-width: 768px) {
    #creatividad.parallax {
        background-position: center top;
    }

    #creatividad.parallax .text {
        transform: translateY(0);
    }
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para la sección de Servicios */
#servicios {
    padding: 50px 0;
    text-align: center;
}

#servicios h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px -10px; /* Reduce el espacio entre los servicios */
}

.service {
    flex: 1 0 auto; /* El tamaño puede cambiar, pero no se encogerá por debajo del ancho mínimo */
    margin: 10px;
    text-align: center;
    max-width: 300px; /* Ancho máximo de cada servicio */
}

.service:first-child img {
    max-width: 100%; /* Establece el ancho máximo al 100% para la primera imagen */
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Estilos para la sección "Acerca de Nosotros" */
#acerca {
    position: relative;
    overflow: hidden;
}

#acerca .parallax-container {
    position: relative;
    background-image: url('https://i.postimg.cc/FHgNYw7d/banner-about-us.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#acerca .overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#acerca .section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

#acerca .text {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Ajuste del tamaño del overlay para que coincida con la imagen */
@media (min-width: 768px) {
    #acerca .overlay-background {
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        top: -20px;
        left: -20px;
    }
}

/* Estilos para la sección "Portafolio" */
#portafolio {
    position: relative;
    overflow: hidden;
}

#portafolio .parallax-container {
    background-image: url('https://i.postimg.cc/NFP69Vqq/still-life-graphic-design-office.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#portafolio .section-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#portafolio .text {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Overlay negro transparente */
#portafolio .overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/* Estilos para dispositivos móviles */
@media (max-width: 30%) {
    nav ul {
        margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
        text-align: left; /* Alinear los enlaces a la derecha en dispositivos móviles */
    }
    nav ul li {
        display: block; /* Convertir los elementos de lista en bloques para que se muestren uno debajo del otro */
        margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
        margin-bottom: 10px; /* Agregar espacio entre los elementos de lista */
    }
}
